body {
	background-image: url("background.jpg");
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: cursive;
}

input {
	margin-top: 1%;
	border: solid;
	border-color: #000;
	text-align: center;
}
div {
	padding-top: 1%;
	text-align: center;
}
#major {
	box-shadow: 1px 1px 45px 10px #000;
	background-color: #FFFFFF;
	opacity: 0.8;
	margin-top: 1%;
	border: solid;
}
table {
	margin-top: 1%;
}
h2 {
	color: #FF0000;
	
}